.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin: 0;
  padding: 0;
}
/*Header-Navbar*/
.navbar{
  left: 0;
  right: 0;
  top:0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  width: 100%;
  height: 70px;
  z-index: 1;
  transition: .5s;
}
.nav{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.navbar ul li{
  font-family: "Public Sans";
  font-weight: lighter;
  display: inline-block;
  cursor: pointer;


}
.navbar ul li:hover,
navbar ul li a.active{
  background: deepskyblue;
  color: black;
}
.navbar.black{
  background: #707070;
  height: 40px;
  padding: 10px 50px;
}
/*respocsive background*/
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*background banner*/
.banner-area{
  background-image:url("https://lh3.googleusercontent.com/z7MvTobpHFmTUcEdRB9N-z6oYtQVyGXvEm2f9YsFzW-JH4lH9Y9nHOVcm-i_mEU-SMyTPvGsTTtRZ_9X5AL99Rr-Sj0l0faZkYEHou74jpeFcaJ4jJ_GhARdQ-upSoIOCw3Tu5ExX8nkiMYbxNw8O0vbcHjjiEPYZqfHzBlpCl5gUFnN5tkdtW9ZfuhbBusNcgzwfK4pJBCWsoAnYvl4PfQ_ls3uW7fmxKGCY-oeaIpJVFVhaFys0X7U6eeqA8_BETBw_mNv57W2rlwaRFqh1B3NbCzdS25_jm7UWp8YU7dofv_OlZjrbtG7d8Bp0SRDLp-i1CDTlhPk8x066VaSMXzFJnqzyZeZoLvU4uRRL5RRx7kfPH7Vchf2ZUcSf8nM-7xSY-kf7VEB-10ny0J62qh0bvqRDQedxpRnDT_385MnisuF-BkLL05HF21ZKxegrdt9rjuFr4mWFC6TrQYq9XCqpleoGJjRMANu7o05PkYaBBp4PVxVC7J312Dk4VrxaHuo5gIcwwAJcOVhxX_L0UQxoNMVqxuG507qwSsIHjM32io-cGezmCyIkO5SYvG2M-U4xgV64SMsJFDUadW3h65EnQ0hvgYSRaZAoEQ=w10000-h10000") ;
  width: 100%;
  height: 100vh;
  position:absolute;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  top:0;
  position: relative;
  -webkit-background-size: cover;

}
a{
  margin: 2vw;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.kru-about .kru-course .kru-gallery .kru-contact{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.kru-about{
  background-color: white;
  height: 100%;
  width: 100%;
  padding-top: 7vw;
}
.kru-about-profile{
  background-image: url("https://public-v2links.adobecc.com/c517d6e8-c0a7-4f46-6e24-550977e1bda3/component?params=component_id:c3e00818-ecb2-44bd-a9ce-8bebf95ef02b&params=version:0&token=1562663516_da39a3ee_3b3bc02493575e1a12192eb3b9d7ffff6fb45586&api_key=CometServer1");
  background-color: gray;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: 100vh;
  padding-top: 7vw;

}
.kru-gallery{
  background-color: white;
  height: 100%;
  width: 100%;
  padding-top: 7vw;
}
.kru-course{
  background-color: blue;
  height: 100%;
  width: 100%;
}
.kru-contact{
  background-image: url("https://public-v2links.adobecc.com/c517d6e8-c0a7-4f46-6e24-550977e1bda3/component?params=component_id:c1afb4b8-093b-4d24-a34a-02c690a1c584&params=version:0&token=1562605753_da39a3ee_071da621fddbd16a837c7f9993c3935106d3aa77&api_key=CometServer1");
  height: 100vh;
  width: 100vh;
}
html{
  scroll-behavior: smooth;
}
/*Logo*/
.logo-wrapper{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.triangle-down {
  position: absolute;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #fffff0;
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0,0,0,10.5));
  filter: drop-shadow(1px 1px 20px rgba(0,0,0,20.5))
}

/*menu*/
.menu-wrapper{
  color: white;
  width: 30%;
  margin-top: 1vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

/*fullscreen slider*/
.corousel-inner .item{
  height: 100vh;
}
navbar-inverse{
  background-color: transparent;
  border-color: transparent;
}
navbar-inverse .navbar brand{
  color: #fff;
  font-size: 40px;
  padding: 40px 15px;
  font-weight: 900;
}
.banner{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
}

/*Corousel*/
.kru-carousel{
  justify-content: center;
  align-items: center;
}

.carousel-caption{
  padding-bottom: 150px;
  font-family: Arial;
  position: absolute;
  z-index: 1;
  display:table;
  width:100%;
  height:100%;
}
.trickcenter {
  margin-top: 6vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption h2{
  font-family: "Public Sans";
  font-size: 40px;
  text-transform: uppercase;
  margin-left: -46vw;
  top:8vw;
  position: relative;
}
.carousel-caption h3{
  font-size: 60px;
  top: 8vw;
  margin-left: -38vw;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.carousel-caption h4{
  background-color: transparent;
  width: 72vw;
  text-align: -webkit-left;
  margin-left: 14vw;
  margin-top: 9vw;
  font-size: 20px;
  /*text-transform: uppercase;*/
  font-weight: bold;
  position: relative;
}

.carousel-caption h2 span{
  color: #edbb00;
}
.carousel-caption a{
  background: #FF7B3D;
  padding: 8px 6px;
  display: inline-block;
  margin-left: -62vw;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
}
.carousel-control.right{
  background-image: none;
}
.carousel-control.left{
  background-image: none;
}
.carousel-indicators .active{
  background-color: #edbb00;

}
.slide {
  background-size: cover !important;
  width: 100%;
  height: 100vh;
}
.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));*/
  background: linear-gradient(to Left,transparent, rgba(0, 0, 0, 0.3));
  bottom: 0;
  left: 0;
}

@media only screen and (max-device-width: 600px) {
  .triangle-down {
    display: none;
  }
  .logo{
    visibility: visible;
  }
}
#bg{
  /* Set rules to fill background */


  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */

  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
 #bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
@media only screen and (max-device-width: 767px) {
  .navbar .nav{
    position: absolute;
    right: 0;
    height: 92vh;
    top:8vh
  }
}
.logo{
  width:135px;
  position: absolute;
  z-index: 10;
}
/*ICon*/
#iconfc{
   position:fixed;
   width:30px;
   height:30px;
   bottom:40px;
   right:40px;
   background-color:white;
   color:white;
   border-radius:50px;
   text-align:center;
   box-shadow: black;
 }
#iconline{
  position:fixed;
  width:30px;
  height:30px;
  bottom:40px;
  right:40px;
  background-color:white;
  color:white;
  border-radius:50px;
  text-align:center;
  box-shadow: black;
}
/*Overlay*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*Card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card{
  border-radius: 5px 5px 0 0;
  width: 40px;
  height: 70px;
}

.container {
  padding: 2px 16px;
}

/*Font*/
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  src: url('http://www.yourdomain.com/fonts/Helvetica.ttf');
}

/*TH new font*/


/*Gallery*/
.gallery {
  margin: 10px 50px;

}
.gallery img{
  width: 230px;
  padding: 3px;

  transition: 1s;
}
.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

/*text*/
.text-contact{
  font-family: 'Krub', sans-serif;


}
.text-contact h2{
  font-family: 'Krub', sans-serif;
  font-size: 15px;
  text-align: -webkit-left;
  margin-left: 4vw;

}
.bg-map{
  background-image: url("https://public-v2links.adobecc.com/c517d6e8-c0a7-4f46-6e24-550977e1bda3/component?params=component_id:e19db025-9959-4d14-822f-17fc06f9d97d&params=version:0&token=1562605753_da39a3ee_071da621fddbd16a837c7f9993c3935106d3aa77&api_key=CometServer1");
  height: 100vh;
  width: 100vh;
}
.kru-input input{
  border-radius:5px;

}
.text-about{
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  text-align: -webkit-left;

}
.blue-about{
  font-family: 'Krub', sans-serif;
  text-align: -webkit-left;
  font-size: 25px;
  color: #009FFF;
}
.text-about-small {
  font-family: 'Krub', sans-serif;
  font-size: 15px;
  text-align: -webkit-left;

}

.wrap-about{
  width: 1000px;
  margin-top: 100px;

}
.card-about{
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  transition: 1s;
  width: 300px;
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  float: left;
  margin: 10px;


}